<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- driver para conectar con Mysql a bajo nivel -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    
     <!-- usuario y password -->
    <property name="hibernate.connection.url">jdbc:mysql://localhost/virtualDT</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    
	<!-- que motor de bbdd voy a usar porque cambian las queries -->
	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <property name="show_sql">true</property>

    <mapping resource="virtualDT/equipo/Equipo.hbm.xml"></mapping>
    <mapping resource="virtualDT/equipo/Jugador.hbm.xml"></mapping>
    <mapping resource="virtualDT/equipo/Formacion.hbm.xml"></mapping>
    <mapping resource="virtualDT/torneo/Torneo.hbm.xml"></mapping>
    <mapping resource="virtualDT/torneo/ResultadoDelPartido.hbm.xml"></mapping>
    <mapping resource="virtualDT/torneo/PartidoDeCopa.hbm.xml"></mapping>
    <mapping resource="virtualDT/torneo/PartidoSimple.hbm.xml"></mapping>
		
   </session-factory>
</hibernate-configuration>